<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <input
      type="text"
      ngModel
      name="city"
      placeholder="Name of a city"
      required
    />
    <button name="button">go</button>
  </form>
  <div class="default-container" *ngFor="let myWeather of myWeatherArr">
    <h1>{{ myWeather.cityName }}</h1>
    <h2>{{ myWeather.temp }}&deg;</h2>
    <div class="img">
      <img
        src="https://openweathermap.org/img/wn/{{ myWeather.icon }}@2x.png"
        alt="State of Weather"
      />
    </div>
    <h3>{{ myWeather.weatherKind }}</h3>
    <h4>{{ myWeather.tempMax }}&deg;</h4>
    <h4>{{ myWeather.tempMin }}&deg;</h4>
  </div>
</div>
