<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="searching-bar">
    <ion-icon class="icon icon-location" name="location"></ion-icon>
    <input
      type="text"
      ngModel
      name="city"
      placeholder="enter your location"
      required
    />
    <button name="button">
      <ion-icon class="icon icon-find" name="search-outline"></ion-icon>
    </button>
  </form>
  <div class="weather-container">
    <div *ngFor="let myWeather of myWeatherArr">
      <div
        class="weather-box"
        *ngIf="myWeather.found"
        (click)="navigateToForecasting(myWeather.cityName)"
      >
        <h1 class="city-name margin-top-up">{{ myWeather.cityName }}</h1>
        <img
          src="https://openweathermap.org/img/wn/{{ myWeather.icon }}@2x.png"
          alt="State of Weather"
          class=""
        />
        <h2 class="temperature margin-top-up">{{ myWeather.temp }}&deg;</h2>
        <h3 class="description">{{ myWeather.weatherKind }}</h3>
        <div class="weather-details">
          <div class="humidity">
            <h4>Humidity</h4>
            <p>{{ myWeather.humidity }} &percnt;</p>
          </div>
          <div class="wind-speed">
            <h4>Wind Speed</h4>
            <p>{{ myWeather.windSpeed }} Km/h</p>
          </div>
        </div>
      </div>
      <div class="not-found" *ngIf="!myWeather.found">
        <img
          src="/assets/image/404.png"
          alt="not-found image"
          class="not-found-img"
        />
        <p>Invalid Location</p>
      </div>
    </div>
  </div>
</div>
