<form (ngSubmit)="onSubmit(f)" ngForm #f="ngForm">
  <input type="text" ngModel name="cityName" />
  <button>Go</button>
</form>
<h1>City: {{ cityName }}</h1>
<div class="container">
  <!-- DAY -->
  <div class="day" *ngFor="let ele of fiveDaysForecasting">
    <h2>Date: {{ ele.date | date : "EEE:  dd-MM-YYYY" }}</h2>
    <div class="icon">
      <img
        src="https://openweathermap.org/img/wn/{{ ele.imgURL }}@2x.png"
        alt="An image about state of weather"
      />
    </div>
    <div class="temp">
      <h3>Min: {{ ele.tempMin }}&deg;</h3>
      <h3>Max: {{ ele.tempMax }}&deg;</h3>
    </div>
  </div>
</div>
