/* You can add global styles to this file, and also import other style files */
// ROOT CSS
/**** Global Reset****/
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-out;
}
body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  background-color: #06283d;
}
button,
input {
  font-family: inherit;
}

.icon {
  font-size: 2.4rem;
}
